/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run kaitlinchaung/nomad -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input                       = "https://raw.githubusercontent.com/kaitlinchaung/nomad-kmc3/main/test_data_fastq_samplesheet.csv"
    cell_barcode_samplesheet    = "https://raw.githubusercontent.com/kaitlinchaung/nomad-kmc3/main/test_data_cell_barcode_samplesheet.csv"
    is_10X                      = true
    run_umitools                = true
    anchor_count_threhsold      = 30
    window_slide                = 1
    cells_split_across_lanes    = true
    lookahead                   = 0
    run_annotations             = false
}


